@model List<UserDTO>
<br />
<form class="d-none d-md-flex ms-4" asp-area="Admin" asp-controller="UserManagement" asp-action="Index">
    <input class="form-control border-0" type="search" placeholder="جستجوی کاربر" name="search">
    <input class="btn btn-primary" type="submit" value="جستجو" />
</form>
<br />
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>یوزرنیم</th>
            <th>ایمیل</th>
            <th>رول ها</th>
            <th>مهارت ها (متخصص)</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
                <td>
                    @if (user.Roles.Count == 1)
                    {
                        <p>مشتری که تخصص نداره!</p>
                    }
                    @if (user.Roles.Count == 2)
                    {
                        foreach (var skill in user.expertCategories)
                        {
                            <p>@skill.Name</p>
                        }
                    }
                    @if (user.Roles.Count == 3)
                    {
                        <p>ادمین جان!</p>
                    }

                </td>
                <td>
                    <a asp-area="Admin" asp-controller="UserManagement" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">حذف</a>
                    <a asp-area="Admin" asp-controller="UserManagement" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-success">ویرایش</a>
                    <a asp-area="Admin" asp-controller="UserManagement" asp-action="Detail" asp-route-id="@user.Id" class="btn btn-warning">جزئیات</a>
                    @if (user.Roles.Count == 2)
                    {
                        <a asp-area="Admin" asp-controller="UserManagement" asp-action="EditExpertSkill" asp-route-id="@user.Id" class="btn btn-info">ویرایش مهارت</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>